<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>PlayM3u8插件设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="shortcut icon" href="__PUBLIC__/images/playm3u8.png">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lyui.min.css">
	<style type="text/css">
		#btn-jike-video:after {
			content: "新";
			color: #fff;
			position: absolute;
			top: 1px;
			right: 0;
			padding: 3px 3px 3px 3px;
			z-index: 9999999;
			background: #d9534f;
			border-radius: 50%;
			font-size: 12px;
			line-height: 1;
			border: 1px solid #d43f3a
		}
	</style> 
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC__/js/lyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
</head>